@font-face {
    font-family: 'Quark';
    src: url('Quark.woff2') format('woff2'),
        url('Quark.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

