@font-face {
  font-family: 'HELLO DENVER DISPLAY';
  src: url('/fonts/hello-denver-display/HELLODENVERDISPLAYREGULAR-Regular.woff2') format('woff2'),
      url('/fonts/hello-denver-display/HELLODENVERDISPLAYREGULAR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HELLO DENVER DISPLAY';
  src: url('/fonts/hello-denver-display/HELLODENVERDISPLAYBOLD-Bold.woff2') format('woff2'),
      url('/fonts/hello-denver-display/HELLODENVERDISPLAYBOLD-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quark';
  src: url('/fonts/quark/Quark.woff2') format('woff2'),
      url('/fonts/quark/Quark.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
